# ----------------------------
# Python
# ----------------------------

# Bytecode
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db